<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>weblogic-edpbedit-snapshots</id>
            <username>${bamboo_edpbedit_user}</username>
            <password>${bamboo_edpbedit_password}</password>
        </server>
        <server>
            <id>weblogic-edpbedit-releases</id>
            <username>${bamboo_edpbedit_user}</username>
            <password>${bamboo_edpbedit_password}</password>
        </server>
    </servers>
</settings>